body {
  background-color: #1c1c1c;
  text-align: center;
  font-size: 18px;
  text-align: center;
}

div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#timetable {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-gap: 10px 3px;
  grid-auto-flow: row;
  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-bottom: 5%;
}

.block {
  height: 50px;
  color: #FFF;
  flex-direction: column;
  background-color: #1c1c1c;
  padding: 20px 0px;
  border: 5px solid #FFF;
}

/*.block > div {
  background-color: #3C3;
}*/

.chosen {
  background-color: #3C3;
}

@keyframes blink{
  0%,100% {border-color: #FFF;}
  50% {border-color: #C33;}
}
.conflict {
  background-color: #C33;
  animation-name: blink;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1, end);
}

.time {
  background-color: #FFF;
  color: #1c1c1c;
}

.subj {

}

.subj + .subj {
  background-color: #C33;
  border-top: 2px solid #FFF;
}
