

:root {
  --col1: #33c;
  --col2: #c33;
  --col3: #fff;
  --col3transp: #fff1;
  --colbg: #1c1c1c;
}

body {
  background-color: #1c1c1c;
  text-align: center;
  font-size: 18px;
  text-align: center;
}

div {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  justify-items: center;
}

#timetable {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px 3px;
  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin-bottom: 3%;
}

#searchList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row;
  grid-gap: 10px 20px;
  justify-items: stretch;
  justify-content: center;
  align-items: stretch;
  align-content: center;
  margin: 5% auto;
}

.block {
  height: 65px;
  color: var(--col3);
  flex-direction: column;
  background-color: var(--colbg);
  padding: 20px 0px;
  border: 5px solid var(--col3transp);
}

/*.block > div {
  background-color: #3C3;
}*/

.chosen {
  border-color: var(--col3);
  background-color: var(--col1);
}

.choice {
  color: var(--colbg);
  background-color: var(--col3);
}

.choice:hover {
  cursor: pointer;
}

@keyframes blink{
  0%,100% {border-color: var(--col3);}
  50% {border-color: var(--col2);}
}
.conflict {
  background-color: var(--col2);
  animation-name: blink;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-fill-mode: forwards;
  animation-timing-function: steps(1, end);
}

.time {
  background-color: var(--col3);
  color: var(--colbg);
}

.subj {

}

.subj + .subj {
  background-color: var(--col2);
  border-top: 2px solid var(--col3);
}
